@import url('https://fonts.googleapis.com/css2?family=Honk&family=Outfit:wght@300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


body {
    
    background: #dadada;
}
a {
    text-decoration: none;
    color:inherit;
}

nav {

    background: #131921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px, 20px;
    color: #fff;
}
.nav-country {
    display: flex;
    align-items: end;
    margin-left: 15px;
    font-size: 13px;
    color: #c4c4c4;

}

.nav-country h1 {
    color: #fff;
    font-size: 14px;
}

.nav-search {
    flex: 1;
    display: flex;
    align-items: center;
    margin-left: 15px;
    border-radius: 5px;
    max-width: 1000px  ;
    color: gray;
    background: #fff;
}

.nav-search-gategory {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 5px;
    background:#e5e5e5;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
}